
@{
    ViewBag.Title = "Administrator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        .index-img {
            width:100%;
            height: 600px;
        }
    </style>
</head>
<div class="container">
    <h2 align="center" class="welcome"><b>Welcome to FPT Book. Hello, Administrator.</b></h2>
    <img class="index-img" src="~/Logo/BookAdmin.png" alt="Administrator" />
</div>
