@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
</head>
<body>
    <div class="about-section">
        <img src="~/Logo/Book.gif" alt="FPT Book">
        <h1>About FPT Book</h1>
        <p class="about-text">
            <b>ATN Store</b> has been in business since 2010 and is one of the largest independently owned toy stores in Viet Nam.
            Our expert staff takes pride in being the most knowledgeable source on children's playthings in the area.
            Our weekly activities bring in children and families, and provide a fun and educational gathering place for the community!
            Children are encouraged to take time to play - we offer over 20 in-store play areas, where kids (and their families) can test out toys before making a purchase, or just enjoy what the store has to offer!
            We offer a wide selection of toys and playthings, and strive to provide a one-of-a-kind shopping experience for every customer!
            The Toy Store can be your one-stop shop for every occasion - we carry a wide variety of greeting cards, and even offer free gift wrapping!
        </p>
    </div>
</body>
</html>

