@model IEnumerable<FPTBook.Models.Book>

@{ ViewBag.Title = "Category View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--Display Book-->
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <a href="@Url.Action("DetailBook", "Home", new { id = item.BookID})"><img src="~/Image/@item.Image" class="imgcart"></a>
                <br />
                <h4 class="name" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    <a href="@Url.Action("DetailBook", "Home", new { id = item.BookID})">@item.BookName</a>
                </h4>
                <div class="price">
                    <ins>$@item.Price</ins>
                </div>
                <a href="@Url.Action("AddtoCart","Carts", new {id = item.BookID})" class="btn btn-primary addtocart">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                </a>
            </div>
        </div>
    }
</div>



